@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 210 27% 13%;
    --foreground: 213 16% 70%;
    --card: 210 27% 16%;
    --card-foreground: 213 16% 85%;
    --popover: 210 27% 16%;
    --popover-foreground: 213 16% 85%;
    --primary: 178 63% 55%;
    --primary-foreground: 210 27% 13%;
    --secondary: 205 48% 32%;
    --secondary-foreground: 213 16% 85%;
    --muted: 210 27% 18%;
    --muted-foreground: 213 16% 60%;
    --accent: 178 63% 55%;
    --accent-foreground: 210 27% 13%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 27% 18%;
    --input: 210 27% 18%;
    --ring: 178 63% 55%;
    --chart-1: 178 63% 55%;
    --chart-2: 200 100% 60%;
    --chart-3: 213 16% 70%;
    --chart-4: 210 27% 13%;
    --chart-5: 213 16% 85%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 27% 13%;
    --foreground: 213 16% 85%;
    --card: 210 27% 16%;
    --card-foreground: 213 16% 85%;
    --popover: 210 27% 16%;
    --popover-foreground: 213 16% 85%;
    --primary: 178 63% 55%;
    --primary-foreground: 210 27% 13%;
    --secondary: 205 48% 32%;
    --secondary-foreground: 213 16% 85%;
    --muted: 210 27% 18%;
    --muted-foreground: 213 16% 60%;
    --accent: 178 63% 55%;
    --accent-foreground: 210 27% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 27% 18%;
    --input: 210 27% 18%;
    --ring: 178 63% 55%;
    --chart-1: 178 63% 55%;
    --chart-2: 205 48% 32%;
    --chart-3: 213 16% 70%;
    --chart-4: 210 27% 13%;
    --chart-5: 213 16% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
